@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #f3e9f8, #ead4f5);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7e7285;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #A80C62;
    text-align: center;
    text-shadow: 1px 1px 1px #5e0636;
}

h2 {
    color: #F50087;
}

p {
    text-align: justify;
}